body {
    background-color: #55cae8;
    text-align: center;
    color: #1b9e1b;
}

.navbar {
    background-color: #000000;
}

.flight-icon {
    position: absolute;
    top: 10px;
    left: 3px;
    width: 30px; 
    height: 30px;
}
a {
    color: #1cc98a;
}

a:hover {
    color: #a00909;
}
