body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.flight-icon {
    position: absolute;
    top: 10px;
    left: 3px;
    width: 30px; 
    height: 30px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 40px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
